@model Microsoft.AspNetCore.Identity.IdentityRole
<style>
    .btn-primary {
        background-color: #4B49AC;
        color: white;
    }

        .btn-primary:hover {
            background-color: #3e3b94;
        }

    .btn-secondary {
        background-color: #F3797E;
        color: white;
    }

        .btn-secondary:hover {
            background-color: #e16368;
        }

</style>

<form id="rolEkleForm" asp-action="RolEkle" asp-controller="AdminPanel" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Rol Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
</form>
